@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

* {
    font-family: 'Urbanist', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

* { box-sizing: border-box; color: white;}
input {background: none;} /* This is for only testing. It is ok to delete for production */
a, a:hover, a:not([href]):not([class]), a:not([href]):not([class]):hover  { color: white; text-decoration: none;}
ul { list-style: none; }
p { margin-bottom: 0rem; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

button.normal {
    padding: 10px 30px;
    border: 2px solid #FFBD0C;
    border-radius: 30px;
    background: none;

    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #FFFFFE;
}
button.normal:hover {
    text-shadow: 0px 0px 3.5px #FFFFFE;
}
button.inverseNormal {
    padding: 10px 30px;
    border: 2px solid #FFBD0C;
    border-radius: 30px;
    background: #FFBD0C;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: black;
}
button.inverseNormal:hover {
    text-shadow: 0px 0px 3.5px black;
}
button.smNormal {
    padding: 5px 10px;
    border: 1px solid #FFBD0C;
    border-radius: 10px;
    background: none;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: white;
}
button.smNormal:hover {
    text-shadow: 0px 0px 3.5px #ffffff;
}
button.favBtn {
    background-color: #14141F;
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}
input:focus, select:focus {outline: none;}
.title { color: #FFBD0C; margin-bottom: 30px;}


.navBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 15px 30px;
    background-color: black;
    border-bottom: 2px solid #FFBD0C;
}
.navBar .logo {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navBar .logo img {
    width: 80%;
}

.navBar .routerList {
    width: 60%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.mobile .barMenuCover {
    width: 100%;
    height: calc(100vh - 80px);
}
.mobile .barMenuClose {
    height: 10%;
    text-align: right;
    padding: 15px;
}
.mobile .barMenuClose button {
    background: none;
    border: none;
    outline: none;
}
.mobileRouterList {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}
.mobileSideMenuBtn {
    color: #FFBD0C;
    background: none;
    outline: none;
    border: none;
}
.mobileSideMenuBtn a {
    color: #FFBD0C;
}
.navBar .routerList .routerListItem {
    width: calc(100%/6);
    text-align: left;
}
.navBar .routerList .routerListItem .routerListItemLink {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: white;
    text-transform: capitalize;
}

.navBar .routerList .routerListItem .routerListItemLink:hover {
    text-shadow: 0px 0px 3.5px #FFFFFE;
}
.routerList .routerListItem .routerDropdownCover {
    display: none;
    position: relative;
    margin-top: 5px;
    background-color: black;
    border: 0.5px solid #C4B000;
    border-radius: 10px;

}
.routerList .routerListItem .routerDropdownCover .routerDropdownItem {
    padding: 25px 0;
    text-align: center;
}
.routerList .routerListItem .routerDropdownCover a:not(:last-child) .routerDropdownItem {
    border-bottom: 1px solid white;
}

.routerList .routerListItem .routerDropdownCover .routerDropdownItem p {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #FFFFFE;
}
.routerList .routerListItem .routerDropdownCover .routerDropdownItem:hover {
    text-shadow: 0px 0px 3.5px #fffffe;
    background-image: linear-gradient(to right, red , yellow);
}
.routerList .routerCommunity:hover .routerDropdownCommunity {
    display: block;
}
.routerList .routerActivity:hover .routerDropdownActivity {
    display: block;
}
.navBar .signIn {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.navBar .signIn .userProfileCover {
    display: none;
    text-align: left;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #FFFFFE;
    border: 2px solid #ffbd0c;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    background: #000000a3;
}
.navBar .signIn .userProfileCover p {
    padding: 10px;
    border-bottom: 1px solid #ffbd0c;
}
.navBar .signIn .signInCover:hover .userProfileCover {
    display: block;
}
/* Landing Page Banner Section Start */
section.topCollections {margin-top: 50px;}
section.upcoming {margin-top: 77px;}
section.goldMember {margin-top: 25px;}
section.liveAuction {margin-top: 58px;}
section.explorer {margin-top: 145px;}
section.topSellers {margin-top: 91px;}
section.banner {
    display: flex;
    margin-top: 50px;
}
section.banner .left {
    display: flex;
}
/* Landing Page Banner Section End */

/* Landing Page Top Collectors Section Start */
.home section .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.home section .title h2 {color : #FFBD0C;}
.home section .main__carousel-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home section .main__carousel-wrap .main__carousel {
    width: 80%;
}

section.topCollections .collection,
section.topSellers .topSeller {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    padding: 0 10%;
}
section.topCollections .collection img,
section.topSellers .topSeller img {
    background: white;
    border: 1px solid grey;
    border-radius: 30px;
    width: 128px;
    height: 156px;
    object-fit: cover;
}
section.topCollections .collection .verified:after,
section.topSellers .topSeller .verified:after {
    content: '\2713';
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 16px;
    font-size: 30px;
    text-align: center;
    font-family: "Font Awesome 5 Pro";
    bottom: 27px;
    right: -78%;
    border-radius: 50%;
    background: #0d0d11;
    color: #FFBD0C;
    z-index: 1;
    pointer-events: none;
}

section.topCollections .collection .info, 
section.topSellers .topSeller .info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

section.topCollections .collection .info .name,
section.topSellers .topSeller .info .name {
    color: #FFBD0C;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

section.topCollections .collection .info .balance,
section.topSellers .topSeller .info .balance {
    color: white;
}
/* Landing Page Top Collectors Section End */

/* Filter Start */
.filterCover { width: 10%; }
.filterCover button.normal {width: 100%;padding: 10px 0;}
.filterCover .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.filterCover {
    position: relative;
    display: inline-block;
}

.filterCover .dropContent {
    display: none;
    position: absolute;
    border: 1px solid #C4B000;
    border-radius: 10px;
    z-index: 1;
    width: 100%;
}

.filterCover .dropContent button:not(.priceApplyBtn) {
    background: none;
    border: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;

    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #FFFFFE;
}

.filterCover .dropContent button:not(.priceApplyBtn):hover {
    text-shadow: 0px 0px 3.5px #FFFFFE;
}

.filterCover .dropContent button.priceApplyBtn {
    color: black;
    background: white;
    border: none;
    padding: 5px;
    text-decoration: none;
    display: block;
    width: 50%;
    text-align: center;
    margin-left: 40%;
    margin-top: 20px;
    border-radius: 10px;
}

.filterCover .dropContent button:hover {
    background-color: #312E13;
    border-radius: 10px;
    color: white
}

.filterCover:hover .dropContent {
    display: block;
    background-color: #0d0d11;
}
/* Filter End */
input[type="text"]::placeholder {  
    padding-left: 20px; 
} 
/* NFT Explorer Page Styling Start */
@media screen and (max-width: 768px) {
    .nftItemCover {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .nftItemCover {
        width: 25%;
    }
}
.nftItemCover {padding: 10px;}
/* NFT Explorer Page Styling End */
/* Make Offer PopUp - NFT Detail Page */
.makeOfferForm {
    position: fixed;
    background: #000000a6;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.makeOfferForm div, .makeOfferForm span, .makeOfferForm button, .makeOfferForm input, .makeOfferForm h2 {
    color: black;
}
/* Make Offer Form - Currency Selector - Start */
.currencyFilterCover { width: 30%; }
.currencyFilterCover button.normal {width: 100%;padding: 10px 0;}
.currencyFilterCover .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.currencyFilterCover {
    position: relative;
    display: inline-block;
}

.currencyFilterCover .dropContent {
    display: none;
    position: absolute;
    border: 1px solid #C4B000;
    border-radius: 10px;
    z-index: 1;
    width: 100%;
}

.currencyFilterCover .dropContent button {
    color: black;
    background: none;
    border: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.currencyFilterCover .dropContent button:hover {
    background-color: #312E13;
    border-radius: 10px;
    color: white
}

.currencyFilterCover:hover .dropContent {
    display: block;
}
/* Make Offer Form - Currency Selector - End */
/* NFT Detail Page - NFT Features Style - Start */
.nftDetailInfoCover .nftDetailInfoHeader {
    display: flex;
    gap: 20px;
    margin: 30px 0;
}
.nftDetailInfoCover .nftDetailInfoHeader button {
    background: none;
    border: none;

    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 22px;
    text-transform: capitalize;
    color: #FFFFFE;
}
.nftDetailInfoCover .nftDetailInfoHeader button:hover {
    color: #e1b60c6b;
} 
/* NFT Detail Page - NFT Features Style - End */
/* Admin Dashboard styling Start */
.adminDashboard {
    display: flex;
}
.adminDashboard .filterCover {
    width: 20%;
    border-right: 2px white solid;
}
.statusCover {
}
.statusRow button, .chainsBtnRow button{
    padding: 10px 0;
    border: 2px solid #FFBD0C;
    border-radius: 30px;
    width: 40%;
    margin: 5px 5%;
    color: white;
}
.statusRow button:hover, .chainsBtnRow button:hover {
    background: #312E13;
}
.notSelectedStatusBtn, .nonSelectedChainsBtn {
    background: none;
}
.selectedStatusBtn, .selectedChainBtn {
    background: #312E13;
}
.priceCover .selectedCurrency {
    padding: 10px 0;
    border: 2px solid #FFBD0C;
    border-radius: 10px;
    width: 90%;
    margin: 5px 5%;
    color: white;
    text-align: center;
}
.priceCover .curDropDown {
    margin: 2px 5%;
    /* display: none; */
}
/* .currencyCover:hover .curDropDown {
    display: block;
} */
.priceCover .curDropDown .curBtn {
    padding: 10px 0;
    border: 0.5px solid #FFBD0C;
    border-radius: 5px;
    width: 100%;
    color: white;
    background: none;
}
.curSelect {
    color: blue;
    width: 80%;
    margin: 5px 10%;
}
.priceCover .priceInputCover {
    display: flex;
    padding: 5px 5%;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.priceCover .priceInputCover span{
}
.priceCover .priceInputCover input{
    width: 40%;
    border: 1px #FFBD0C solid;
    padding: 10px 0 10px 10px;
    color: white;
}
.priceCover .priceButton {
    margin: 5px 5%;
    text-align: right;
}
.priceCover .priceButton button{
    padding: 10px 0;
    border: 0.5px solid #FFBD0C;
    border-radius: 5px;
    width: 100%;
    color: white;
    background: none;
}
.statusCover, .priceCover, .collectCover, .chainsCover {
    margin: 50px 5%;
}
.filterCover .heading button, .collectCover .collectHead button, .chainsCover .chainsHead button {
    width: 100%;
    border: 1px solid #FFBD0C;
    background: none;
    color: white;
    padding: 10px 0;
    border-radius: 10px;
}
.collectCover .collectItem {
    padding: 3px 0;
    border-bottom: 2px #655d5d2e solid;
    text-align: right;
}
.adminDashboard .nftCover .selectedBtn, .adminDashboard .nftCover .nonSelectedBtn{
    width: 100%;
    border: 1px solid #FFBD0C;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.adminDashboard .nftCover .selectedBtn {
    background: #198754;
    border: none;
}
.adminDashboard .nftCover .nonSelectedBtn {
    background: none;
}
/* Admin Dashboard styling End */
/* react-elastic-carousel styling start */
.rec.rec-carousel-wrapper {
    padding: 0 6px;
}
.rec-carousel-wrapper .rec-carousel .rec-arrow {
    background: white;
    color: #FFBD0C;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: inherit;
    min-width: 30px;
    line-height: inherit;
}
.rec.rec-pagination {
    display: none;
}
/* react-elastic-carousel styling end */

@media screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}
@media screen and (min-width: 768px) {
    .desktop {
      display: block;
    }
    .mobile {
        display: none;
    }
}