* { box-sizing: border-box; color: white;}
a, a:not([href]):not([class]), a:not([href]):not([class]):hover  { color: white; text-decoration: none;}
ul { list-style: none; }
section {margin-top: 20px;}
button.normal {
    padding: 10px 30px;
    border: 2px solid #FFBD0C;
    border-radius: 15px;
    background: none;
    color: white;
}
button.smNormal {
    padding: 5px 10px;
    border: 1px solid #FFBD0C;
    border-radius: 10px;
    background: none;
    color: white;
}
button.favBtn {
    background-color: #14141F;
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}
input:focus, select:focus {outline: none;}
.title { color: #FFBD0C; margin-bottom: 30px;}


.navBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 15px 30px;
    background-color: black;
    border-bottom: 2px solid #FFBD0C;
}
.navBar .logo {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navBar .logo img {
    width: 80%;
}

.navBar .routerList {
    width: 60%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.navBar .routerList .routerListItem .routerListItemLink {
    display: flex;
    align-items: center;
    gap: 4px;
    color: white;
}

.navBar .signIn {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* Landing Page Banner Section Start */
section.banner {
    display: flex;
}
section.banner .left {
    display: flex;
}
/* Landing Page Banner Section End */

/* Landing Page Top Collectors Carousel Styling Start */
.main__carousel-wrap {
    position: relative;
}
.main__carousel .owl-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    position: relative;
}
.main__carousel .owl-dot {
    margin-right: 10px;
}
.main__carousel .owl-dot:last-child {
    margin-right: 0;
}
.main__carousel .owl-dot span {
    display: block;
    height: 4px;
    width: 10px;
    border-radius: 2px;
    background-color: #9FA4DD;
    transition: 0.5s ease;
}
.main__carousel .owl-dot.active span {
    width: 20px;
    background-color: #6164ff;
}
.main__carousel-wrap button.main__nav {
    border: none;
    border-radius: 50%;
}
.main__carousel-wrap button.main__nav svg {
    color: #FFBD0C
}
/* Landing Page Top Collectors Carousel Styling End */
/* Landing Page Top Collectors Section Start */
.home section .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.home section .main__carousel-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home section .main__carousel-wrap .main__carousel {
    width: 80%;
}

section.topCollections .collection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
section.topCollections .collection img {
    background: white;
    border: 1px solid grey;
    border-radius: 30px;
}
section.topCollections .collection .verified:after {
    content: '\2713';
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 16px;
    font-size: 30px;
    text-align: center;
    font-family: "Font Awesome 5 Pro";
    bottom: 27px;
    right: -78%;
    border-radius: 50%;
    background: #0d0d11;
    color: #FFBD0C;
    z-index: 1;
    pointer-events: none;
}

section.topCollections .collection .info {
    display: flex;
    flex-direction: column;
}

section.topCollections .collection .info .name {
    color: #FFBD0C;
}

section.topCollections .collection .info .balance {
    color: white;
}
/* Landing Page Top Collectors Section End */

/* Filter Start */
.filterCover { width: 10%; }
.filterCover button.normal {width: 100%;padding: 10px 0;}
.filterCover .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.filterCover {
    position: relative;
    display: inline-block;
}

.filterCover .dropContent {
    display: none;
    position: absolute;
    border: 1px solid #C4B000;
    border-radius: 10px;
    z-index: 1;
    width: 100%;
}

.filterCover .dropContent button {
    color: white;
    background: none;
    border: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.filterCover .dropContent button:hover {
    background-color: #312E13;
    border-radius: 10px;
}

.filterCover:hover .dropContent {
    display: block;
}
/* Filter End */