@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

* {
    font-family: 'Urbanist', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

* { box-sizing: border-box; color: white;}
input {background: none;} /* This is for only testing. It is ok to delete for production */
a, a:hover, a:not([href]):not([class]), a:not([href]):not([class]):hover  { color: white; text-decoration: none;}
ul { list-style: none; }
p { margin-bottom: 0rem; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

button.normal {
    padding: 10px 30px;
    border: 1px solid #FFBD0C;
    border-radius: 30px;
    background: none;

    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #FFFFFE;
}
button.normal:hover {
    text-shadow: 0px 0px 3.5px #FFFFFE;
}
button.inverseNormal {
    padding: 10px 30px;
    border: 2px solid #FFBD0C;
    border-radius: 30px;
    background: #FFBD0C;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: black;
}
button.inverseNormal:hover {
    text-shadow: 0px 0px 3.5px black;
}
button.smNormal {
    padding: 5px 10px;
    border: 1px solid #FFBD0C;
    border-radius: 10px;
    background: none;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: white;
}
button.smNormal:hover {
    text-shadow: 0px 0px 3.5px #ffffff;
}
button.favBtn {
    background-color: #14141F;
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}
button.sectionNormalBtn {
    padding: 10px 30px;
    border: 1px solid #FFBD0C;
    border-radius: 30px;
    background: none;
    
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: capitalize;
    color: #FFFFFE;
}
input:focus, select:focus {outline: none;}
.title { color: #FFBD0C; margin-bottom: 30px;}

/* Navigation Bar Styling Start */
@media screen and (max-width: 768px) {
    .navBar .logo {width: 80px; padding: 3px;}
    .navBar .logo .logoImg {display: block; width: 60px; height: 60px;}
    .navBar .logo .logoTxt {display: none;}
}
@media screen and (min-width: 769px) {
    .navBar .logo {width: 80px; padding: 3px;}
    .navBar .logo .logoImg {display: block; width: 60px; height: 60px;}
    .navBar .logo .logoTxt {display: none;}
    .navBar .routerList {width: calc(100% - 400px)}
    .navBar .signIn {width: 320px; padding: 0px 6px;}
}
@media screen and (min-width: 1025px) {
    .navBar .logo {width: 20%; padding: 3px;}
    .navBar .logo .logoImg {display: none;}
    .navBar .logo .logoTxt {display: block; width: 100%;}
    .navBar .routerList {width: calc(80% - 320px)}
    .navBar .signIn {width: 320px; padding: 0px 6px;}
}
@media screen and (min-width: 1201px) {
    .navBar .logo {width: 25%; padding: 3px;}
    .navBar .logo .logoImg {display: none;}
    .navBar .logo .logoTxt {display: block; width: 100%;}
    .navBar .routerList {width: calc(75% - 320px)}
    .navBar .signIn {width: 320px; padding: 0px 6px;}
}
.navBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: black;
    border-bottom: 1px solid #FFBD0C;
}
.navBar .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navBar .routerList {
    padding: 28px 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.mobile .barMenuCover {
    width: 100%;
    height: calc(100vh - 80px);
}
.mobile .barMenuClose {
    height: 10%;
    text-align: right;
    padding: 15px;
}
.mobile .barMenuClose button {
    background: none;
    border: none;
    outline: none;
}
.mobileRouterList {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}
.mobileSideMenuBtn {
    color: #FFBD0C;
    background: none;
    outline: none;
    border: none;
}
.mobileSideMenuBtn a {
    color: #FFBD0C;
}
.navBar .routerList .routerListItem {
    text-align: left;
}
.navBar .routerList .routerListItem .routerListItemLink {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #FFBD0C;
    text-transform: capitalize;
}

.navBar .routerList .routerListItem .routerListItemLink:hover {
    text-shadow: 0px 0px 3.5px #FFFFFE;
}
.routerList .routerListItem .routerDropdownCover {
    display: none;
    position: relative;
    margin-top: 5px;
    background-color: black;
    border: 0.5px solid #C4B000;
    border-radius: 10px;

}
.routerList .routerListItem .routerDropdownCover .routerDropdownItem {
    padding: 25px 0;
    text-align: center;
}
.routerList .routerListItem .routerDropdownCover a:not(:last-child) .routerDropdownItem {
    border-bottom: 1px solid white;
}

.routerList .routerListItem .routerDropdownCover .routerDropdownItem p {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #FFFFFE;
}
.routerList .routerListItem .routerDropdownCover .routerDropdownItem:hover {
    text-shadow: 0px 0px 3.5px #fffffe;
    background-image: linear-gradient(127deg, #e250e5 0%, #4b50e6 100%);
    border-radius: 10px;
}
.routerList .routerCommunity:hover .routerDropdownCommunity {
    display: block;
}
.routerList .routerActivity:hover .routerDropdownActivity {
    display: block;
}
.navBar .signIn {
    padding: 16px 5px;
    display: flex;
    justify-content: space-between;
}
.navBar .signIn .userProfileCover {
    display: none;
    text-align: left;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #FFFFFE;
    border: 2px solid #ffbd0c;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    background: #000000a3;
}
.navBar .signIn .userProfileCover p {
    padding: 10px;
    border-bottom: 1px solid #ffbd0c;
}
.navBar .signIn .signInCover:hover .userProfileCover {
    display: block;
}
.navBar .signIn .signInCover button { min-width: 180px; }
/* Navigation Bar Styling End */
/* Landing Page Banner Section Start */
section.topCollections {margin-top: 50px;}
section.upcoming {margin-top: 77px;}
section.goldMember {margin-top: 25px;}
section.liveAuction {margin-top: 58px;}

section.topSellers {margin-top: 91px;}
section.banner {
    display: flex;
    margin-top: 50px;
}
section.banner .left {
    display: flex;
}
/* Landing Page Banner Section End */

/* Landing Page Top Collectors Section Start */
.home section .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.home section .title h2 {
    color : #FFBD0C;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}
.home section .main__carousel-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home section .main__carousel-wrap .main__carousel {
    width: 80%;
}

section.topCollections .collection,
section.topSellers .topSeller {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    padding: 0 10%;
}
section.topCollections .collection img,
section.topSellers .topSeller img {
    background: white;
    border: 1px solid grey;
    border-radius: 30px;
    width: 128px;
    height: 156px;
    object-fit: cover;
}
section.topCollections .collection .verified:after,
section.topSellers .topSeller .verified:after {
    content: '\2713';
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 16px;
    font-size: 30px;
    text-align: center;
    font-family: "Font Awesome 5 Pro";
    bottom: 27px;
    right: -78%;
    border-radius: 50%;
    background: #0d0d11;
    color: #FFBD0C;
    z-index: 1;
    pointer-events: none;
}

section.topCollections .collection .info, 
section.topSellers .topSeller .info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

section.topCollections .collection .info .name,
section.topSellers .topSeller .info .name {
    color: #FFBD0C;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

section.topCollections .collection .info .balance,
section.topSellers .topSeller .info .balance {
    color: white;
}
/* Landing Page Top Collectors Section End */
/* Landing Page Explorer Section Start */
section.explorer .nftsCover {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    section.explorer {margin-top: 30px;}
}
@media screen and (min-width: 769px) {
    section.explorer {margin-top: 60px;}
    section.explorer .nftsCover {margin: 70px 50px 0 60px;}
}
@media screen and (min-width: 1025px) {
    section.explorer {margin-top: 100px;}
    section.explorer .nftsCover {margin: 100px 80px 0 90px;}
}
@media screen and (min-width: 1201px) {
    section.explorer {margin-top: 145px;}
    section.explorer .nftsCover {margin: 140px 130px 0px 180px;;}
}
/* Landing Page Explorer Section End */
/* Filter Start */
@media screen and (max-width: 768px) {
    .nftExplorerFilter {display: block;}
    .filterCover { width: 100%; }
}
@media screen and (min-width: 769px) {
    .nftExplorerFilter {
        display: flex;
        justify-content: space-evenly;
        margin-Bottom: 100px;
    }
    .filterCover { width: 15%; }
    .filterCover .dropContent {min-width:180px}
}
@media screen and (min-width: 1025px) {
    .filterCover { width: 12%; }
}
@media screen and (min-width: 1201px) {
}
.filterCover button.normal {width: 100%;padding: 10px 0;}
.filterCover .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.filterCover {
    position: relative;
    display: inline-block;
}

.filterCover .dropContent {
    display: none;
    position: absolute;
    border: 1px solid #C4B000;
    border-radius: 10px;
    z-index: 1;
    width: 100%;
}

.filterCover .dropContent button:not(.priceApplyBtn) {
    background: none;
    border: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;

    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #FFFFFE;
}

.filterCover .dropContent button:not(.priceApplyBtn):hover {
    text-shadow: 0px 0px 3.5px #FFFFFE;
}

.filterCover .dropContent button.priceApplyBtn {
    color: black;
    background: white;
    border: none;
    padding: 5px;
    text-decoration: none;
    display: block;
    width: 50%;
    text-align: center;
    margin-left: 40%;
    margin-top: 20px;
    border-radius: 10px;
}

.filterCover .dropContent button:hover {
    background-color: #312E13;
    border-radius: 10px;
    color: white
}

.filterCover:hover .dropContent {
    display: block;
    background-color: #0d0d11;
}
/* Filter End */
input[type="text"]::placeholder {  
    padding-left: 20px; 
} 
/* NFT Explorer Page Styling Start */
@media screen and (max-width: 768px) {
    .nftItemCover { width: 100%; }
}
@media screen and (min-width: 769px) {
    section.explorer .nftItemCover { width: calc(100%/3); }
    div.explorerPage .nftItemCover { width: calc(100%/3); }
}
@media screen and (min-width: 1025px) {
    section.explorer .nftItemCover { width: 25%; }
    div.explorerPage .nftItemCover { width: 20%; }
}
.nftItemCover {padding: 10px;}
/* NFT Explorer Page Styling End */
/* Make Offer PopUp - NFT Detail Page */
.makeOfferForm {
    position: fixed;
    background: #000000a6;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.makeOfferForm div, .makeOfferForm span, .makeOfferForm button, .makeOfferForm input, .makeOfferForm h2 {
    color: black;
}
/* Make Offer Form - Currency Selector - Start */
.currencyFilterCover { width: 30%; }
.currencyFilterCover button.normal {width: 100%;padding: 10px 0;}
.currencyFilterCover .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.currencyFilterCover {
    position: relative;
    display: inline-block;
}

.currencyFilterCover .dropContent {
    display: none;
    position: absolute;
    border: 1px solid #C4B000;
    border-radius: 10px;
    z-index: 1;
    width: 100%;
}

.currencyFilterCover .dropContent button {
    color: black;
    background: none;
    border: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.currencyFilterCover .dropContent button:hover {
    background-color: #312E13;
    border-radius: 10px;
    color: white
}

.currencyFilterCover:hover .dropContent {
    display: block;
}
/* Make Offer Form - Currency Selector - End */

/* Admin Dashboard styling Start */
.adminDashboard {
    display: flex;
}
.adminDashboard .filterCover {
    width: 20%;
    border-right: 2px white solid;
}
.statusCover {
}
.statusRow button, .chainsBtnRow button{
    padding: 10px 0;
    border: 2px solid #FFBD0C;
    border-radius: 30px;
    width: 40%;
    margin: 5px 5%;
    color: white;
}
.statusRow button:hover, .chainsBtnRow button:hover {
    background: #312E13;
}
.notSelectedStatusBtn, .nonSelectedChainsBtn {
    background: none;
}
.selectedStatusBtn, .selectedChainBtn {
    background: #312E13;
}
.priceCover .selectedCurrency {
    padding: 10px 0;
    border: 2px solid #FFBD0C;
    border-radius: 10px;
    width: 90%;
    margin: 5px 5%;
    color: white;
    text-align: center;
}
.priceCover .curDropDown {
    margin: 2px 5%;
    /* display: none; */
}
/* .currencyCover:hover .curDropDown {
    display: block;
} */
.priceCover .curDropDown .curBtn {
    padding: 10px 0;
    border: 0.5px solid #FFBD0C;
    border-radius: 5px;
    width: 100%;
    color: white;
    background: none;
}
.curSelect {
    color: blue;
    width: 80%;
    margin: 5px 10%;
}
.priceCover .priceInputCover {
    display: flex;
    padding: 5px 5%;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.priceCover .priceInputCover span{
}
.priceCover .priceInputCover input{
    width: 40%;
    border: 1px #FFBD0C solid;
    padding: 10px 0 10px 10px;
    color: white;
}
.priceCover .priceButton {
    margin: 5px 5%;
    text-align: right;
}
.priceCover .priceButton button{
    padding: 10px 0;
    border: 0.5px solid #FFBD0C;
    border-radius: 5px;
    width: 100%;
    color: white;
    background: none;
}
.statusCover, .priceCover, .collectCover, .chainsCover { margin: 50px 5%; }
.filterCover .heading button, .collectCover .collectHead button, .chainsCover .chainsHead button {
    width: 100%;
    border: 1px solid #FFBD0C;
    background: none;
    color: white;
    padding: 10px 0;
    border-radius: 10px;
}
.collectCover .collectItem {
    padding: 3px 0;
    border-bottom: 2px #655d5d2e solid;
    text-align: right;
}
.adminDashboard .nftCover .selectedBtn, .adminDashboard .nftCover .nonSelectedBtn{
    width: 100%;
    border: 1px solid #FFBD0C;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.adminDashboard .nftCover .selectedBtn {
    background: #198754;
    border: none;
}
.adminDashboard .nftCover .nonSelectedBtn { background: none; }
/* Admin Dashboard styling End */
/* NFT Detail Page Styling Start */
@media screen and (max-width: 768px) {
    .nftDetailCover { padding: 3px 6px; }
    .nftDetailCover .mainCover { display: block; }
    .nftDetailImage, .nftDetailInfo { width: 100%; }
    .nftDetailImage img {
        width: 100%;
        padding: 5%;
    }
    .nftDetailCover .avatarImg {
        width: 80px;
        height: 80px;
        border-radius: 10%;
    }
    .nftDetailCover .priceCover {
        display: block;
        margin: 10px 0 0 0;
    }
    .nftDetailCover .price, .nftDetailCover .time {
        display: flex;
        justify-content: space-between;
        margin: 20px;
        background: rgb(20, 20, 31);
        padding: 6px 10px;
        border-radius: 8px;
    }
    .nftDetailInfoCover .nftDetailInfoHeader { margin: 10px 0; }
    .nftDetailInfoCover .nftDetailInfoHeader button {
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
    }
    .nftDetailInfoBody .makerAvatarCover {width: 25%}
    .nftDetailInfoBody .nameCover {width: 40%}
    .nftDetailInfoBody .offerState {width: 15%}
    .nftDetailInfoBody .offerPrice {width: 20%}
}
@media screen and (min-width: 769px) {
    .nftDetailCover { padding: 20px; }
    .nftDetailCover .mainCover { display: flex; }
    .nftDetailImage { width: 45%;}
    .nftDetailInfo { width: 55%; }
    .nftDetailImage img { width: 90%; }
    .nftDetailCover .avatarImg {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .nftDetailCover .priceCover {
        display: flex;
        justify-content: space-between;
        margin: 40px 0 0 0;
    }
    .nftDetailCover .price, .nftDetailCover .time {
        display: grid;
        width: 45%;
        background: rgb(20, 20, 31);
        padding: 8px 10px;
        border-radius: 8px;
    }
    .nftDetailInfoCover .nftDetailInfoHeader { margin: 30px 0; }
    .nftDetailInfoCover .nftDetailInfoHeader button {
        font-weight: 700;
        font-size: 33px;
        line-height: 22px;
    }
    .nftDetailInfoBody .makerAvatarCover {width: 55px}
    .nftDetailInfoBody .nameCover {width: calc(58% - 55px)}
    .nftDetailInfoBody .offerState {width: 19%}
    .nftDetailInfoBody .offerPrice {width: 19%}
}
@media screen and (min-width: 1025px) {
    .nftDetailCover { padding: 20px 10% 0 10%; }
    .nftDetailImage, .nftDetailInfo { width: 50%; }
    .nftDetailImage img { width: 80%; }
    .nftDetailCover .avatarImg {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    .nftDetailCover .price, .nftDetailCover .time {
        display: flex;
        justify-content: space-between;
        width: 40%;
        background: rgb(20, 20, 31);
        padding: 12px 20px;
        border-radius: 8px;
    }
    .nftDetailInfoBody .makerAvatarCover {width: 10%}
    .nftDetailInfoBody .nameCover {width: 30%}
    .nftDetailInfoBody .offerState {width: 30%}
    .nftDetailInfoBody .offerPrice {width: 30%}
}
@media screen and (min-width: 1201px) {
}
.nftDetailInfoCover .nftDetailInfoHeader {
    display: flex;
}
.nftDetailInfoCover .nftDetailInfoHeader button {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    width: calc(100%/3);
    background: none;
    border: none;
    text-transform: capitalize;
    color: #FFFFFE;
    padding-bottom: 10px;
    border-bottom: 1px white solid;
}
.nftDetailInfoCover .nftDetailInfoHeader button:hover {
    color: #e1b60c6b;
} 
/* NFT Detail Page Styling End */
/* react-elastic-carousel styling start */
.rec.rec-carousel-wrapper {
    padding: 0 6px;
}
.rec-carousel-wrapper .rec-carousel .rec-arrow {
    background: white;
    color: #FFBD0C;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: inherit;
    min-width: 30px;
    line-height: inherit;
}
.rec.rec-pagination {
    display: none;
}
/* react-elastic-carousel styling end */
/* Footer Styling Start */
footer.footerCover {
    display: flex;
    color: white;
}
@media screen and (min-width: 769px) {
    footer.footerCover {
        padding: 25px
    }
    footer.footerCover .columnCoverOne {width: 49%}
    footer.footerCover .columnCoverTwo {width: 17%}
    footer.footerCover .columnCoverThree {display: none;}
}
@media screen and (min-width: 1025px) {
    footer.footerCover {
        padding: 40px
    }
    footer.footerCover .columnCoverOne {width: 40%}
    footer.footerCover .columnCoverTwo {width: 15%}
    footer.footerCover .columnCoverThree {display: block; width: 15%}
}
@media screen and (min-width: 1201px) {
    footer.footerCover {
        padding: 50px 20% 50px 10%
    }
    footer.footerCover .columnCoverOne, 
    footer.footerCover .columnCoverTwo, 
    footer.footerCover .columnCoverThree {display: block; width: 20%;}
}
/* Footer Styling End */
@media screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}
@media screen and (min-width: 769px) {
    .desktop {
      display: block;
    }
    .mobile {
        display: none;
    }
}